# The name of the service (most for use in logs)
APPLICATION_NAME=dmp-tool-narrative-generator

# The domain name of the service
DOMAIN_NAME=localhost

# The base URL of the DOIs managed by the EZID service
EZID_BASE_URL=http://doi.org

# The logging level. Can be one of: `debug`, `info`, `warn`, `error`
LOG_LEVEL=debug

# Auth token settings
TOKEN_ISSUER=http://localhost:4646
TOKEN_AUDIENCES=my\-[a-z]+
ACCESS_TOKEN_NAME=access_token

# Other variables are defined in the docker-compose.yml file
