# The name of the service (most for use in logs)
APPLICATION_NAME=dmp-tool-narrative-generator

# The domain name of the service
DOMAIN_NAME=localhost

# The base URL of the DOIs managed by the EZID service
EZID_BASE_URL=http://doi.org

# The logging level. Can be one of: `debug`, `info`, `warn`, `error`
LOG_LEVEL=debug

# The secret required to read the JSON Web Token auth token.
# NOTE: This should match the secret defined for your Apollo server backend
JWT_SECRET=1234567890-abcdefghijklmnop

# Other variables are defined in the docker-compose.yml file
