# OS and IDE specific files
.DS_Store
.idea/

# Skip the local enviornment file
.env

# Skip dependency packages
node_modules/

# Skip test files
tmp/*.*

# Ignore the built service
dist/

# Ignore the test Coverage reports
coverage/
