# OS and IDE specific files
.DS_Store
.idea/

# Skip the local enviornment file
.env

# Ignore test coverage reports
coverage/

# Ignore the distribution directory
dist/

# Skip dependency packages
node_modules/

# Skip test files
tmp/*.*
