# NOTE::
# The services, settings and environment setup in this compose file is for DEVELOPMENT ONLY!
#
# It is intended to run the Apollo server in an "offline" mode. All data will be mocked.
#
networks:
  dmsp_backend_prototype_dmptool-network:
    external: true

services:
  narrative:
    container_name: narrative-generator
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4030:4030"
    networks:
      - dmsp_backend_prototype_dmptool-network
    expose:
      - 4030
    env_file:
      - .env
    environment:
      - "AWS_ACCESS_KEY_ID=DUMMYIDEXAMPLE"
      - "AWS_SECRET_ACCESS_KEY=DUMMYEXAMPLEKEY"
      - "REGION=us-west-2"
      - "ENV=dev"
      - "NODE_ENV=development"

      - "RDS_HOST=apollo-mysql"
      - "RDS_PORT=3306"
      - "RDS_DATABASE=dmptool"

      - "DYNAMODB_ENDPOINT=http://localstack:4566"
      - "DYNAMODB_TABLE_NAME=localDMPTable"
      - "MAX_ATTEMPTS=3"

      - "CACHE_HOST=apollo-redis"
      - "CACHE_PORT=6379"
      - "CACHE_CONNECT_TIMEOUT=10000"

      - "EZID_BASE_URL=https://doi.org"

      # Using the Apollo server network's LocalStack endpoint
      - "SSM_ENDPOINT=http://localstack:4566"
    volumes:
      - ".:/app"
